<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Lightning Fortune Cookies</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<style>

  body {
      background-color:beige;
  }

</style>

<body>

<h1> <img src="/public/flash.svg" height="32" alt="Lightening"/> Fortune Cookies! </h1>
<p> Kingdom of Remconien 1st  <a href="https://github.com/forteco/fortuneCookies"> Github </a>  </p>

[ 
  <a href="/"> fortune cookie </a> | 
  <a href="/backoffice"> backoffice </a> | 
  <a href="/terminal"> terminal </a> | 
  <a target="_blank" href="http://fortune.ranchokalan.com:3000"> RTL webadmin </a> | 
  <a href="/web"> more @web </a> 
]



