<% include menu %>
<h1> Terminal Logs </h1>
<p> The true love of Remoconian tech wizards.<a href="http://fortune.hoertlehner.com:8051" target="_blank"> Click here, to get a big terminal window. </a> </p>

<iframe src="http://fortune.hoertlehner.com:8051"  width="1600" height="500"> </iframe> 

</body>
</html>