<% include menu %>

<h1> Interesting Information on Lighting Network on the Web!</h1>

    <b> Lightening Network </b>
    <ul>
        <li> <a href="https://1ml.com/">stats on lightening nodes </a></li>
        <li> <a href="https://lnroute.com/"> LN Network Resource Guide </a></li>
        <li> <a href="https://github.com/bcongdon/awesome-lightning-network"> AWESOME LN Resources </a></li>
        <li> <a href="https://lopp.net/bitcoin.html"> James Lopp Resources </a></li>
        <li> <a href="http://bitforce5.com/"> BTC Visualization Graph (turn off sound) </a></li>
        <li> <a href="https://satoshis.place/"> Funny Paint app - pay in satoshis </a></li>
        <li> <a href="https://www.forbes.com/sites/billybambrough/2018/09/05/bitcoin-adoption-is-getting-a-massive-lightning-network-boost/#4db9e364420c"> CoinGate adds 4000 merchants </a></li>
    </ul>

    <b> Wallets </b>
    <ul>
        <li> <a href="https://lightningjoule.com/"> Joule Wallet (Google Chrome Browser) </a></li>
        <li> <a href="https://bluewallet.io/">  Blue Wallet (Android + iPhone) </a></li>
        <li> <a href="https://zap.jackmallers.com/">  ZAP Wallet (Desktop + iPhone) </a></li>
        <li> <a href="https://www.cryptoninjas.net/2019/02/25/top-12-wallets-for-the-bitcoin-lightning-network/">  12 Wallet Comparison </a></li>

        

    </ul>

    <b> Server </b>
    <ul>
        <li> <a href="https://lightningjoule.com/">  Joule Google Chrome Browser Wallet </a></li>
        <li> <a href="https://docs.btcpayserver.org/btcpay-basics/btcpayvsothers"> BTCPayServer - Open Source Payment Server </a></li>
        <li> <a href="https://github.com/btcpayserver/btcpayserver">  BTCPayServer github </a></li>
        <li> <a href="https://github.com/bluewallet/lndhub">  Blue Wallet LND Hub (run your own ln hub) </a></li>
        <li> <a href="https://lndhub.herokuapp.com/">  Blue Wallet LND Hub (running instance on heroku)</a></li>
        <li> <a href="https://github.com/mit-dci/litpay/blob/master/watcher/README.md"> MIT DCI Pay </a></li>
        <li> <a href="https://github.com/btcsuite/btcd/issues/1396"> Bitcoin - how to bootstrap blockchain download </a></li>
        <li> <a href="https://bitnodes.earn.com/nodes/leaderboard/"> Bitcoin Node Leaderboard </a></li>
        
    </ul>


    <b> Lightening Nodes </b>
    <ul>
        <li> <a href="https://lnbig.com/#/"> LN Big Nodes </a></li>
    </ul>
    


    <b> Videos </b>
    <ul>
        <li> <a href="https://www.youtube.com/watch?v=wApScWAA6gQ&feature=youtu.be">  How it works </a></li>
        <li> <a href="https://www.youtube.com/watch?v=IrqAo8M0pgI">  Joule Web Wallet </a></li>
    </ul>


</body>
</html>
