<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Bongistan 2019</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
    <% include menu %>
    <h1> Interesting Information on Lighting Network on the Web!</h1>
    <ul>
        <li> <a href="https://1ml.com/">stats on lightening nodes </a></li>
        <li> <a href="https://lnroute.com/"> LN Network Resource Guide </a></li>
        <li> <a href="https://github.com/bcongdon/awesome-lightning-network"> AWESOME LN Resources </a></li>
        <li> <a href="https://lopp.net/bitcoin.html"> James Lopp Resources </a></li>
        <li> <a href="http://bitforce5.com/"> BTC Visualization Graph (turn off sound) </a></li>
        <li> <a href="https://docs.btcpayserver.org/btcpay-basics/btcpayvsothers"> BTCPayServer - Open Source Payment Server </a></li>
        <li> <a href="https://github.com/btcpayserver/btcpayserver">  BTCPayServer github </a></li>
        <li> <a href="https://github.com/bluewallet/lndhub">  Blue Wallet LND Hub (run your own ln hub) </a></li>
        <li> <a href="https://lndhub.herokuapp.com/">  Blue Wallet LND Hub (running instance on heroku)</a></li>
        <li> <a href="https://lightningjoule.com/">  Joule Google Chrome Browser Wallet </a></li>
        <li> <a href="https://satoshis.place/"> Funny Paint app - pay in satoshis </a></li>
        <li> <a href="https://github.com/mit-dci/litpay/blob/master/watcher/README.md"> MIT DCI Pay </a></li>
        <li> <b> Videos </b> </li>
        <li> <a href="https://www.youtube.com/watch?v=wApScWAA6gQ&feature=youtu.be">  How it works </a></li>
        <li> <a href="https://www.youtube.com/watch?v=IrqAo8M0pgI">  Joule Web Wallet </a></li>
        
    </ul>


    
    

    
    
    
    
    



</body>
</html>
